CLIENT_ID=your_client_id # Replace with your client id  
CLIENT_SECRET=your_client_secret # Replace with your client secret
PLAYLIST_ID=your_playlist_id # Replace with your playlist ID that will be played
DEVICE_NAME=DESKTOP # Replace with spotify device name (if you don't know, you can run script without changing it and it will print devices connected to your account)
KILLSWITCH=true # true or false - if script can't pause music (in case of e.g. losing internet access) it will kill spotify to prevent playing music out of schedule